body {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}

/**
 * --------------------------------------------------------------------
 * Avenir Next
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Avenir Next LT Pro Regular";
  font-display: swap;
  src: local("Avenir Next LT Pro Regular"), url("fonts/Avenir_Next_Pro_Full/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro Medium";
  font-display: swap;
  src: local("Avenir Next LT Pro Medium"), url("fonts/Avenir_Next_Pro_Full/AvenirNextLTPro-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro Bold";
  font-display: swap;
  src: local("Avenir Next LT Pro Bold"), url("fonts/Avenir_Next_Pro_Full/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Montserrat
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Montserrat SemiBold";
  font-display: swap;
  src: local("Montserrat SemiBold"), url("fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  font-display: swap;
  src: local("Montserrat Medium"), url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  font-display: swap;
  src: local("Montserrat Bold"), url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  font-display: swap;
  src: local("Montserrat Regular"), url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Arial Regular";
  font-display: swap;
  src: local("Arial Regular"), url("fonts/Arial/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Verdana Regular";
  font-display: swap;
  src: local("Verdana Regular"), url("fonts/Fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Bold";
  font-display: swap;
  src: local("Verdana Bold"), url("fonts/Fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Roboto Regular";
  font-display: swap;
  src: local("Roboto Regular"), url("fonts/Fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  font-display: swap;
  src: local("Roboto Black"), url("fonts/Fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold Italic";
  font-display: swap;
  src: local("Roboto Bold Italic"), url("fonts/Fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  font-display: swap;
  src: local("Roboto Bold"), url("fonts/Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  font-display: swap;
  src: local("Roboto Medium"), url("fonts/Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light Italic";
  font-display: swap;
  src: local("Roboto Light Italic"), url("fonts/Fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}
.uk-offcanvas-overlay:before {
  background: rgba(0, 0, 0, 0.7);
}
.uk-overlay-primary {
  background: rgba(0, 0, 0, 0.7);
}
.uk-overlay-default {
  background: hsla(0deg, 0%, 100%, 0.5);
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-8-xl {
    margin-left: -8px !important;
  }
  .uk-grid-8-xl > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-xl > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-8-l {
    margin-left: -8px !important;
  }
  .uk-grid-8-l > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-l > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-8-m {
    margin-left: -8px !important;
  }
  .uk-grid-8-m > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-m > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-8-s {
    margin-left: -8px !important;
  }
  .uk-grid-8-s > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-s > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

.uk-grid-8 {
  margin-left: -8px;
}
.uk-grid-8 > * {
  padding-left: 8px;
}
.uk-grid-8 > .uk-grid-margin {
  margin-top: 8px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .uk-grid-200-xl {
    margin-left: -200px !important;
  }
  .uk-grid-200-xl > * {
    padding-left: 200px !important;
  }
  .uk-grid-200-xl > .uk-grid-margin {
    margin-top: 200px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-200-l {
    margin-left: -200px !important;
  }
  .uk-grid-200-l > * {
    padding-left: 200px !important;
  }
  .uk-grid-200-l > .uk-grid-margin {
    margin-top: 200px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-200-m {
    margin-left: -200px !important;
  }
  .uk-grid-200-m > * {
    padding-left: 200px !important;
  }
  .uk-grid-200-m > .uk-grid-margin {
    margin-top: 200px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-200-s {
    margin-left: -200px !important;
  }
  .uk-grid-200-s > * {
    padding-left: 200px !important;
  }
  .uk-grid-200-s > .uk-grid-margin {
    margin-top: 200px !important;
  }
}

.uk-grid-200 {
  margin-left: -200px;
}
.uk-grid-200 > * {
  padding-left: 200px;
}
.uk-grid-200 > .uk-grid-margin {
  margin-top: 200px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-8 {
  font-size: 8px !important;
}
@media screen and (min-width: 640px) {
  .fz-8 {
    font-size: calc(8px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-8 {
    font-size: 8px !important;
  }
}

.fz-10, .productDetail__contentLeft__btn--connect, .productDetail__contentLeft__btn--addCart, .product__content__fillter__navItem, .footer__moneySelect {
  font-size: 10px !important;
}
@media screen and (min-width: 640px) {
  .fz-10, .productDetail__contentLeft__btn--connect, .productDetail__contentLeft__btn--addCart, .product__content__fillter__navItem, .footer__moneySelect {
    font-size: calc(10px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-10, .productDetail__contentLeft__btn--connect, .productDetail__contentLeft__btn--addCart, .product__content__fillter__navItem, .footer__moneySelect {
    font-size: 10px !important;
  }
}

.fz-11, .home__product__card__quickadd, .home__product__card__sale-box {
  font-size: 11px !important;
}
@media screen and (min-width: 640px) {
  .fz-11, .home__product__card__quickadd, .home__product__card__sale-box {
    font-size: calc(11px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-11, .home__product__card__quickadd, .home__product__card__sale-box {
    font-size: 11px !important;
  }
}

.fz-12, .productDetail__contentLeft__accordion__title, .product__content__fillter__dropdown .uk-nav > li > a, .product__span, .blog__link, .blog__tag, .blog__time, .home__slideshow__btn, .cart__offcanvas__body__price, .cart__offcanvas__body__boxCount .uk-input, .cart__offcanvas__body__size, .cart__offcanvas__body__box2__btn, .header__bottom .uk-navbar-nav > li > a, .header__bottom .uk-navbar-dropdown-nav > li > a {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .fz-12, .productDetail__contentLeft__accordion__title, .product__content__fillter__dropdown .uk-nav > li > a, .product__span, .blog__link, .blog__tag, .blog__time, .home__slideshow__btn, .cart__offcanvas__body__price, .cart__offcanvas__body__boxCount .uk-input, .cart__offcanvas__body__size, .cart__offcanvas__body__box2__btn, .header__bottom .uk-navbar-nav > li > a, .header__bottom .uk-navbar-dropdown-nav > li > a {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-12, .productDetail__contentLeft__accordion__title, .product__content__fillter__dropdown .uk-nav > li > a, .product__span, .blog__link, .blog__tag, .blog__time, .home__slideshow__btn, .cart__offcanvas__body__price, .cart__offcanvas__body__boxCount .uk-input, .cart__offcanvas__body__size, .cart__offcanvas__body__box2__btn, .header__bottom .uk-navbar-nav > li > a, .header__bottom .uk-navbar-dropdown-nav > li > a {
    font-size: 12px !important;
  }
}

.fz-13, .blog__boxTime {
  font-size: 13px !important;
}
@media screen and (min-width: 640px) {
  .fz-13, .blog__boxTime {
    font-size: calc(13px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-13, .blog__boxTime {
    font-size: 13px !important;
  }
}

.fz-14, .productDetail__contentLeft__label, .productDetail__contentLeft__btn--buy, .home__blog__desc, .home__product__card__price, .cart__offcanvas__body__name, .cart__offcanvas__body__box2__txt, .cart__offcanvas__header__title, .footer__title, .footer__accordion .uk-accordion-title {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-14, .productDetail__contentLeft__label, .productDetail__contentLeft__btn--buy, .home__blog__desc, .home__product__card__price, .cart__offcanvas__body__name, .cart__offcanvas__body__box2__txt, .cart__offcanvas__header__title, .footer__title, .footer__accordion .uk-accordion-title {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14, .productDetail__contentLeft__label, .productDetail__contentLeft__btn--buy, .home__blog__desc, .home__product__card__price, .cart__offcanvas__body__name, .cart__offcanvas__body__box2__txt, .cart__offcanvas__header__title, .footer__title, .footer__accordion .uk-accordion-title {
    font-size: 14px !important;
  }
}

.fz-15 {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 15px !important;
  }
}

.fz-16, .productDetail__contentLeft__btn--find, .productDetail__contentLeft__boxSale, .productDetail__contentLeft__accordion__content, .product__offcanvas__btnReset, .home__slideshow__txt, .home__product__navTabs > li > a, .home__product__card__review__txt, .cart__offcanvas__footer__btn, .cart__offcanvas__footer__txt, .footer__navList > li > a, .footer__label, .header__bottom__box__desc, .header__top__boxSearch .uk-search-input {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-16, .productDetail__contentLeft__btn--find, .productDetail__contentLeft__boxSale, .productDetail__contentLeft__accordion__content, .product__offcanvas__btnReset, .home__slideshow__txt, .home__product__navTabs > li > a, .home__product__card__review__txt, .cart__offcanvas__footer__btn, .cart__offcanvas__footer__txt, .footer__navList > li > a, .footer__label, .header__bottom__box__desc, .header__top__boxSearch .uk-search-input {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16, .productDetail__contentLeft__btn--find, .productDetail__contentLeft__boxSale, .productDetail__contentLeft__accordion__content, .product__offcanvas__btnReset, .home__slideshow__txt, .home__product__navTabs > li > a, .home__product__card__review__txt, .cart__offcanvas__footer__btn, .cart__offcanvas__footer__txt, .footer__navList > li > a, .footer__label, .header__bottom__box__desc, .header__top__boxSearch .uk-search-input {
    font-size: 16px !important;
  }
}

.fz-18, .blog__article {
  font-size: 16.2px !important;
}
@media screen and (min-width: 640px) {
  .fz-18, .blog__article {
    font-size: calc(16.2px + 1.8 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-18, .blog__article {
    font-size: 18px !important;
  }
}

.fz-20 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(16px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

.fz-22, .home__product__card__title, .sidebar__title {
  font-size: 17.6px !important;
}
@media screen and (min-width: 640px) {
  .fz-22, .home__product__card__title, .sidebar__title {
    font-size: calc(17.6px + 4.4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-22, .home__product__card__title, .sidebar__title {
    font-size: 22px !important;
  }
}

.fz-23, .productDetail__contentLeft__price {
  font-size: 18.4px !important;
}
@media screen and (min-width: 640px) {
  .fz-23, .productDetail__contentLeft__price {
    font-size: calc(18.4px + 4.6 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-23, .productDetail__contentLeft__price {
    font-size: 23px !important;
  }
}

.fz-26, .home__blog__title {
  font-size: 20.8px !important;
}
@media screen and (min-width: 640px) {
  .fz-26, .home__blog__title {
    font-size: calc(20.8px + 5.2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-26, .home__blog__title {
    font-size: 26px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 9 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 30px !important;
  }
}

.fz-32, .home__title {
  font-size: 22.4px !important;
}
@media screen and (min-width: 640px) {
  .fz-32, .home__title {
    font-size: calc(22.4px + 9.6 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-32, .home__title {
    font-size: 32px !important;
  }
}

.fz-38, .home__product__title {
  font-size: 26.6px !important;
}
@media screen and (min-width: 640px) {
  .fz-38, .home__product__title {
    font-size: calc(26.6px + 11.4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-38, .home__product__title {
    font-size: 38px !important;
  }
}

.fz-39 {
  font-size: 27.3px !important;
}
@media screen and (min-width: 640px) {
  .fz-39 {
    font-size: calc(27.3px + 11.7 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-39 {
    font-size: 39px !important;
  }
}

.fz-40, .productDetail__contentLeft__title, .blog__title1 {
  font-size: 28px !important;
}
@media screen and (min-width: 640px) {
  .fz-40, .productDetail__contentLeft__title, .blog__title1 {
    font-size: calc(28px + 12 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-40, .productDetail__contentLeft__title, .blog__title1 {
    font-size: 40px !important;
  }
}

.fz-44 {
  font-size: 30.8px !important;
}
@media screen and (min-width: 640px) {
  .fz-44 {
    font-size: calc(30.8px + 13.2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-44 {
    font-size: 44px !important;
  }
}

.fz-45, .blog__title, .header__bottom__box__title {
  font-size: 31.5px !important;
}
@media screen and (min-width: 640px) {
  .fz-45, .blog__title, .header__bottom__box__title {
    font-size: calc(31.5px + 13.5 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-45, .blog__title, .header__bottom__box__title {
    font-size: 45px !important;
  }
}

.fz-90, .home__slideshow__title {
  font-size: 63px !important;
}
@media screen and (min-width: 640px) {
  .fz-90, .home__slideshow__title {
    font-size: calc(63px + 27 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-90, .home__slideshow__title {
    font-size: 90px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}
.item__6:nth-child(n+2) {
  margin-top: 6px;
}
.item__4:nth-child(n+2) {
  margin-top: 4px;
}

.headerTransparent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.headerTransparent ~ .uk-sticky-placeholder {
  position: absolute;
}

.notTransparent {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  width: 100% !important;
  z-index: 982;
}
.header.activeSearch, .header.hoverMenu, .header.uk-sticky-below {
  background: #000;
}
.header__dc, .header__bottom, .header {
  transition: all 0.1s ease;
}
.header__top .uk-navbar-center,
.header__top .uk-navbar-left,
.header__top .uk-navbar-right {
  gap: 20px;
}
@media (min-width: 960px) {
  .header__top .uk-navbar-center,
.header__top .uk-navbar-left,
.header__top .uk-navbar-right {
    gap: 30px;
  }
}
.header__top__boxSearch .uk-search-input {
  color: #ffffff;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.header__top__boxSearch .uk-search-input::placeholder {
  color: #ffffff;
}
.header__top .uk-badge {
  transform: translate(50%, -50%);
  z-index: 1;
}
.header__top .uk-navbar-item, .header__top .uk-navbar-toggle {
  min-height: 70px;
}
@media (min-width: 960px) {
  .header__top .uk-navbar-item, .header__top .uk-navbar-toggle {
    min-height: 80px;
  }
}
.header__top .uk-logo img {
  height: 30px;
}
.header__bottom {
  border-top: 1px solid transparent;
}
.activeSearch .header__bottom {
  display: none;
}
.notTransparent .header__bottom, .hoverMenu .header__bottom, .uk-sticky-below .header__bottom {
  border-color: rgb(47, 47, 47);
}
.header__bottom .uk-navbar-dropdown {
  background: #000;
  border-top: 1px solid rgb(47, 47, 47);
}
.header__bottom__box__title {
  font-family: "Montserrat SemiBold", sans-serif;
  color: #ffffff;
  line-height: 1.2045454545;
}
.header__bottom__cover:hover .header__bottom__box__title {
  color: rgb(134, 134, 134);
}
.header__bottom__box__desc {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}
.header__bottom__box > * {
  margin: 0;
  letter-spacing: 2px;
}
.header__bottom__box > *:nth-child(n+2) {
  margin-top: 20px;
}
.header__bottom .uk-navbar-dropdown-nav > li {
  transition: none;
  transition: color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  will-change: transform;
}
.header__bottom .uk-navbar-dropdown-nav > li.title {
  margin-bottom: 20px;
}
.header__bottom .uk-navbar-dropdown-nav > li.title > a {
  font-family: "Avenir Next LT Pro Medium", sans-serif;
  color: #ffffff;
}
.header__bottom .uk-navbar-dropdown-nav > li > a {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  letter-spacing: 1.1px;
}
.hoverMenu .header__bottom .uk-navbar-dropdown-nav > li {
  transition-delay: 150ms;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.35s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__bottom .uk-navbar-nav > li > a {
  min-height: 45px;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  color: #ffffff;
  letter-spacing: 1.1px;
  position: relative;
}
.header__bottom .uk-navbar-nav > li > a:hover:after, .header__bottom .uk-navbar-nav > li > a[aria-expanded=true]:after {
  transform: scaleX(1);
  background-color: currentColor;
}
.header__bottom .uk-navbar-nav > li > a:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  height: 2px;
  background-color: var(---color-menu-link-hover);
  transform: scaleX(0);
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mask_menu {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 981;
  left: 0;
  top: 0;
  display: none;
}

.footer {
  background: #000;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 960px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.footer__label {
  color: #ffffff;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.footer__title, .footer__accordion .uk-accordion-title {
  color: #ffffff;
  margin-bottom: 17px !important;
  font-family: "Montserrat Medium", sans-serif;
}
.footer__navList > li > a {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.footer__moneySelect {
  text-transform: inherit;
  color: #ffffff;
  padding: 0 15px;
}
.footer__accordion__title {
  color: #666666;
}
.uk-open .footer__accordion__title {
  color: #fff !important;
}
.footer__accordion .uk-accordion-title {
  margin-bottom: 0 !important;
  color: #666666;
}
.footer__accordion .uk-accordion-content {
  margin-top: 10px;
}
.footer__accordion > li:nth-child(n+2) {
  position: relative;
  margin-top: 12px;
  padding-top: 12px;
}
.footer__accordion > li:nth-child(n+2):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -15px;
  border-top: 1px solid #666666;
}
.footer__item-75-25:nth-child(n+2) {
  margin-top: 25px;
}
@media (min-width: 960px) {
  .footer__item-75-25:nth-child(n+2) {
    margin-top: 75px;
  }
}
.footer__item-100-20:nth-child(n+2) {
  margin-top: 20px;
}
@media (min-width: 960px) {
  .footer__item-100-20:nth-child(n+2) {
    margin-top: 100px;
  }
}

.sidebar__title {
  color: rgb(33, 33, 33) !important;
  font-family: "Montserrat Regular", sans-serif;
  line-height: 1.4090909091;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(191, 191, 191);
}

.cart__offcanvas__bar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #ffffff;
  padding: 0;
}
@media (min-width: 960px) {
  .cart__offcanvas__bar {
    margin: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 500px;
    transition: right 0.25s ease-in-out;
  }
  .uk-offcanvas-flip .cart__offcanvas__bar {
    right: calc(0px - 500px - 15px);
  }
}
@media (max-width: 959.98px) {
  .cart__offcanvas__bar {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    top: 100vh;
    transition: top 0.5s ease-in-out;
    transition-property: top !important;
  }
  .uk-open > .cart__offcanvas__bar {
    top: 15px;
  }
}
.cart__offcanvas__dc, .cart__offcanvas__footer, .cart__offcanvas__body__box2, .cart__offcanvas__body__box1, .cart__offcanvas__header {
  padding: calc(20px - 5px);
}
@media (min-width: 960px) {
  .cart__offcanvas__dc, .cart__offcanvas__footer, .cart__offcanvas__body__box2, .cart__offcanvas__body__box1, .cart__offcanvas__header {
    padding: 20px;
  }
}
.cart__offcanvas__header {
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  color: #aaaaaa !important;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.cart__offcanvas__header > * {
  color: #aaaaaa !important;
}
.cart__offcanvas__header__title {
  color: #aaaaaa !important;
  margin: 0;
  text-align: center;
  font-family: "Montserrat Bold", sans-serif;
}
.cart__offcanvas__header__close {
  color: #aaaaaa !important;
}
.cart__offcanvas__header__close svg {
  transition: all 0.3s;
}
.cart__offcanvas__header__close:hover svg {
  transform: rotate(-90deg);
}
.cart__offcanvas__body *,
.cart__offcanvas__body > * {
  color: #aaaaaa !important;
}
.cart__offcanvas__body__box2 {
  background: #fafafa;
  border-top: 1px solid #e3e3e3;
}
.cart__offcanvas__body__box2__txt {
  color: #aaaaaa !important;
}
.cart__offcanvas__body__box2__btn {
  background: #000 !important;
  color: #ffffff !important;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  text-transform: initial;
  min-width: 80px;
}
.cart__offcanvas__body__box2__item-20-15:nth-child(n+2) {
  margin-top: 15px;
}
@media (min-width: 960px) {
  .cart__offcanvas__body__box2__item-20-15:nth-child(n+2) {
    margin-top: 20px;
  }
}
.cart__offcanvas__body__name {
  color: #000 !important;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
  line-height: 1.4285714286;
}
.cart__offcanvas__body__name a {
  color: #000 !important;
}
.cart__offcanvas__body__size {
  color: #aaaaaa;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  line-height: 1.3333333333;
}
.cart__offcanvas__body__trash svg {
  color: #999999 !important;
}
.cart__offcanvas__body__trash:hover svg {
  color: #666666 !important;
}
.cart__offcanvas__body__boxCount {
  border: 1px solid #e3e3e3;
  display: inline-flex;
}
.cart__offcanvas__body__boxCount > * {
  min-width: 36px;
  width: 36px;
}
.cart__offcanvas__body__boxCount .uk-input {
  height: 24px !important;
  box-sizing: border-box;
  text-align: center;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: #e3e3e3 !important;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
  color: #aaaaaa !important;
  padding: 0 !important;
  width: 36px;
}
.cart__offcanvas__body__boxCount .uk-button {
  width: 36px;
  padding: 0 !important;
  line-height: 22px;
  color: #aaaaaa !important;
}
.cart__offcanvas__body__boxCount .uk-button svg {
  color: #aaaaaa !important;
}
.cart__offcanvas__body__boxCount .uk-button:hover {
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.cart__offcanvas__body__price {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  line-height: 1.3333333333;
}
.cart__offcanvas__body__price:nth-child(n+2) {
  margin-left: 2px;
}
.cart__offcanvas__body__price--old {
  color: #9a9a9a !important;
}
.cart__offcanvas__body__price--new {
  color: #44BE70 !important;
}
.cart__offcanvas__body__item:nth-child(n+2) {
  margin-top: 15px;
  padding-top: 15px;
  position: relative;
}
@media (min-width: 960px) {
  .cart__offcanvas__body__item:nth-child(n+2) {
    margin-top: 20px;
    padding-top: 20px;
  }
}
.cart__offcanvas__body__item:nth-child(n+2):before {
  border-top: 1px solid #e3e3e3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: calc(0px - 20px + 5px);
}
@media (min-width: 960px) {
  .cart__offcanvas__body__item:nth-child(n+2):before {
    right: calc(0px - 20px);
  }
}
.cart__offcanvas__footer {
  border-top: 1px solid #e3e3e3;
  box-sizing: border-box;
}
.cart__offcanvas__footer > * {
  color: #aaaaaa !important;
}
.cart__offcanvas__footer__txt {
  font-family: "Avenir Next LT Pro Bold", sans-serif;
  color: #aaaaaa !important;
  line-height: 1.375;
}
.cart__offcanvas__footer__btn {
  background: #000 !important;
  color: #ffffff !important;
  text-transform: inherit;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}

.home__title {
  font-family: "Montserrat Regular", sans-serif;
  color: rgb(33, 33, 33);
  line-height: 1.1875;
}
.home__product__card {
  border: 1px solid #ffffff;
  border-left: none;
  background-color: #b6b6b6;
}
.uk-grid-margin > .home__product__card {
  border-top: none;
}
.home__product__card canvas {
  width: 362px !important;
}
@media (min-width: 960px) {
  .home__product__card canvas {
    width: 524px !important;
  }
}
.home__product__card__sale-box {
  margin: 5px;
  padding: 0 15px;
  background: #000 !important;
  color: #ffffff !important;
  border-radius: 0;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  min-width: 80px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.home__product__card__review i.fa {
  color: rgb(33, 33, 33) !important;
}
.home__product__card__review__txt {
  color: rgb(33, 33, 33) !important;
  line-height: 1.375;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.home__product__card__body {
  padding: 7px;
  padding-bottom: 30px;
}
.home__product__card__quickadd {
  padding: 15px 15px;
  color: rgb(33, 33, 33) !important;
  text-transform: uppercase;
  letter-spacing: 1.32px;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.product__content .home__product__card__quickadd {
  padding: 10px 15px;
}
@media (min-width: 960px) {
  .product__content .home__product__card__quickadd {
    padding: 15px 15px;
  }
}
.home__product__card__title {
  color: rgb(0, 0, 0);
  line-height: 1.4090909091;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.home__product__card__title a {
  color: rgb(0, 0, 0) !important;
}
.home__product__card__price {
  line-height: 1.4;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.home__product__card__price:nth-child(n+2) {
  margin-left: 5px;
}
.home__product__card__price--new {
  color: rgb(0, 0, 0);
}
.home__product__card__price--old {
  color: rgb(100, 100, 100);
}
.home__product__title {
  font-family: "Montserrat Regular", sans-serif;
  line-height: 1.1842105263;
  color: rgb(33, 33, 33);
  word-break: break-word;
}
.home__product__navTabs > li > a {
  padding: 0 !important;
  color: rgb(100, 100, 100) !important;
  text-transform: inherit !important;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  border-bottom: 3px solid transparent;
}
.home__product__navTabs > li > a:hover {
  background-color: transparent !important;
}
.home__product__navTabs > li.uk-active > a {
  color: rgb(0, 0, 0) !important;
  background-color: transparent;
  border-color: rgb(191, 191, 191);
}
.home__product__item-32-20:nth-child(n+2) {
  margin-top: 20px;
}
@media (min-width: 960px) {
  .home__product__item-32-20:nth-child(n+2) {
    margin-top: 32px;
  }
}
.home__blog__grid {
  flex-wrap: nowrap;
}
.home__blog__grid::-webkit-scrollbar {
  display: none;
}
@media (min-width: 960px) {
  .home__blog__grid {
    flex-wrap: wrap;
  }
}
.home__blog__width {
  min-width: 364px;
}
@media (min-width: 960px) {
  .home__blog__width {
    width: 100%;
  }
}
.home__blog__box {
  padding: 25px;
}
.home__blog__title {
  line-height: 1.2692307692;
  font-family: "Montserrat Regular", sans-serif;
  margin: 0;
}
.home__blog__title a {
  color: rgb(33, 33, 33);
}
.home__blog__title a:hover {
  color: rgb(167, 167, 167) !important;
}
.home__blog__desc {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  color: rgb(33, 33, 33);
}
.home__slideshow__txt {
  font-family: "Avenir Next LT Pro Medium", sans-serif;
  color: #ffffff;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}
.home__slideshow__title {
  color: #ffffff;
  margin: 0;
  font-family: "Montserrat Regular", sans-serif;
}
@media (max-width: 639.98px) {
  .home__slideshow__title {
    font-size: 44px !important;
  }
}
.home__slideshow__btn {
  background: #000 !important;
  line-height: 48px;
  letter-spacing: 1.44px;
  color: #ffffff !important;
}
@media (min-width: 960px) {
  .home__slideshow__btn {
    min-width: 260px;
  }
}
.home__slideshow__btn:hover {
  color: #868686 !important;
}
.home__slideshow__item-60-35:nth-child(n+2) {
  margin-top: 35px;
}
@media (min-width: 960px) {
  .home__slideshow__item-60-35:nth-child(n+2) {
    margin-top: 60px;
  }
}

.blog__title {
  color: rgb(33, 33, 33);
  font-family: "Montserrat Regular", sans-serif;
  line-height: 1.2;
}
.blog__title1 {
  font-family: "Montserrat Medium", sans-serif;
  color: rgb(33, 33, 33) !important;
}
@media (min-width: 960px) {
  .blog__title1 {
    margin-bottom: 30px;
  }
}
.blog__article {
  margin-top: 20px !important;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  color: rgb(33, 33, 33) !important;
  line-height: 1.4444444444;
}
@media (min-width: 960px) {
  .blog__article {
    margin-top: 40px !important;
  }
}
.blog__boxTime {
  padding: 25px 0;
  border-top: 1px solid rgb(191, 191, 191);
  border-bottom: 1px solid rgb(191, 191, 191);
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  line-height: 1.3846153846;
}
.blog__boxTime > *:nth-child(n+2) {
  margin-left: 8px;
  padding-left: calc(8px + 4px);
  position: relative;
}
.blog__boxTime > *:nth-child(n+2):before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(33, 33, 33);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.blog__time {
  line-height: 1.3333333333;
  color: rgb(100, 100, 100);
  font-family: "Montserrat Regular", sans-serif;
}
.blog__tag {
  color: #ffffff;
  border: 1px solid #ffffff;
  letter-spacing: 1.44px;
  padding: 3px 8px;
  line-height: 1;
}
.blog__link {
  color: rgb(33, 33, 33);
  letter-spacing: 1.44px;
  font-family: "Avenir Next LT Pro Medium", sans-serif;
}

.product__offcanvas__bar {
  padding: 0;
  background: #ffffff;
}
.product__offcanvas__bar > * {
  color: rgb(33, 33, 33);
}
.product__offcanvas__padding, .product__offcanvas__footer, .product__offcanvas__body, .product__offcanvas__header {
  padding: 15px 15px;
}
.product__offcanvas__title {
  margin: 0;
}
.product__offcanvas__btnReset {
  color: #000000 !important;
  border-color: #000000 !important;
  text-transform: inherit;
  line-height: 44px;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.product__offcanvas__btnReset:hover {
  background: #000000 !important;
  color: #ffffff !important;
}
.product__offcanvas__header {
  background: #000;
}
.product__title {
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-family: "Montserrat Regular", sans-serif;
}
.product__title {
  font-size: 40px !important;
}
@media screen and (min-width: 640px) {
  .product__title {
    font-size: calc(40px + 50 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .product__title {
    font-size: 90px !important;
  }
}
.product__span {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 40px;
  text-transform: uppercase;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
  min-height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
}
.product__content__fillter {
  background: #000;
  min-height: 57px;
  border-top: 1px solid white;
}
.product__content__fillter__navItem {
  padding: 0 18px;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  color: #ffffff;
  min-height: 57px;
}
.product__content__fillter__sort {
  border-left: 1px solid rgb(191, 191, 191);
}
.product__content__fillter__btn {
  border-right: 1px solid rgb(191, 191, 191);
}
.product__content__fillter__dropdown {
  background: #000;
  border: 1px solid #ffffff;
  padding: 10px 15px;
}
.product__content__fillter__dropdown .uk-nav > li > a {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}

.productDetail__section {
  padding-top: 0;
}
@media (min-width: 960px) {
  .productDetail__section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.productDetail__boxSpace {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 960px) {
  .productDetail__boxSpace {
    margin-left: 0;
    margin-right: 0;
  }
}
.productDetail__thumbnav img {
  aspect-ratio: 1;
  width: 60px;
}
@media (min-width: 960px) {
  .productDetail__thumbnav img {
    width: 75px;
  }
}
@media (min-width: 960px) {
  .productDetail__thumbnav > li:nth-child(n+2) {
    padding-top: 0;
  }
}
.productDetail__thumbnav > li.uk-margin-small-top {
  margin-top: 20px !important;
}
@media (min-width: 960px) {
  .productDetail__thumbnav > li.uk-active > a:before {
    opacity: 1;
  }
}
.productDetail__thumbnav > li > a {
  position: relative;
}
.productDetail__thumbnav > li > a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: 2px;
  height: 30px;
  max-height: 90%;
  margin: 0;
  background: rgb(140, 140, 140);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  transition: opacity 0.2s;
}
.productDetail__breadcrumb > * > * {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.productDetail__breadcrumb > *:nth-child(n+2):before {
  margin: 0 10px 0 calc(10px - 4px) !important;
}
.productDetail__contentLeft__radio {
  display: none;
}
.productDetail__contentLeft__accordion__li {
  border-top: 1px solid rgb(191, 191, 191);
  padding-top: 16px;
}
.productDetail__contentLeft__accordion__li:nth-child(n+2) {
  margin-top: 16px;
}
.productDetail__contentLeft__accordion__title {
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 2px;
  color: #333;
  text-transform: uppercase;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  font-weight: 600;
}
.productDetail__contentLeft__accordion__content {
  color: rgb(33, 33, 33);
}
.productDetail__contentLeft__boxSale {
  background: #fffbee;
  border: 1px solid rgba(235, 227, 203, 0.5);
  color: #363636;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.productDetail__contentLeft__btn--addCart {
  color: #ffffff;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  letter-spacing: 2px;
}
.productDetail__contentLeft__btn--buy {
  background: #3c0def;
  color: #ffffff;
  letter-spacing: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.productDetail__contentLeft__btn--find {
  text-transform: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(26, 26, 26);
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.productDetail__contentLeft__btn--find:before {
  content: "";
  width: 14px;
  height: 10px;
  display: inline-flex;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9055 15.6191C22.6589 15.6183 22.4225 15.5177 22.2481 15.3393C22.0737 15.1609 21.9754 14.9192 21.9746 14.6669V6.47596C21.9746 6.22334 22.0727 5.98106 22.2474 5.80242C22.422 5.62379 22.6589 5.52344 22.9059 5.52344C23.1529 5.52344 23.3897 5.62379 23.5644 5.80242C23.739 5.98106 23.8371 6.22334 23.8371 6.47596V14.6669C23.8364 14.9193 23.738 15.1612 23.5634 15.3396C23.3888 15.518 23.1523 15.6185 22.9055 15.6191V15.6191Z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M15.1771 28C13.9327 28.0402 12.6871 27.9764 11.4528 27.8093C3.63112 26.9048 0 24.1429 0 19.0953V7.19036C0 3.14474 5.12143 0 11.6392 0C16.8998 0 23.2784 1.61897 23.8371 6.14067V6.23603C23.8371 8.62005 20.9971 11.4267 13.0363 11.4267C11.6858 11.4267 4.9844 11.1883 4.9844 7.56964C4.9844 7.28066 5.07764 4.42706 10.757 4.18866C11.0092 4.18717 11.2548 4.27098 11.4556 4.42706C11.5436 4.51344 11.6139 4.61689 11.6625 4.73138C11.711 4.84587 11.7367 4.96909 11.7381 5.09386V9.47469C12.1716 9.51352 12.6068 9.52944 13.0419 9.52237C19.4693 9.52237 21.9343 7.5718 21.981 6.28443C21.6087 3.7133 17.3716 1.90361 11.6456 1.90361C6.33839 1.90361 1.86889 4.33242 1.86889 7.18892C1.86889 9.99845 3.03288 12.9987 11.6922 13.9986H11.7854C11.832 13.9986 16.767 14.8554 38.1822 12.7603C38.3084 12.7483 38.4357 12.7633 38.556 12.8044C38.6762 12.8454 38.7868 12.9116 38.8807 12.9987C38.979 13.0894 39.0585 13.1994 39.1144 13.3222C39.1703 13.4449 39.2016 13.5779 39.2064 13.7132V25.6189C39.2027 25.8543 39.1159 26.0804 38.9619 26.2555C38.8079 26.4305 38.5972 26.5426 38.3687 26.571C25.6523 27.7139 18.8082 28 15.1771 28ZM1.86253 12.2857V19.0953C1.86253 21.9048 3.02652 24.9051 11.6858 25.9049H11.7791C11.9203 25.9526 15.8297 26.6194 37.3382 24.7144V14.7145C17.1329 16.665 12.0122 15.9527 11.4535 15.8574C6.8434 15.3806 3.67774 14.19 1.86253 12.2857ZM6.79749 7.57108C6.84411 8.33325 8.19386 8.90469 9.82331 9.19005V6.09515C7.54194 6.38124 6.89002 7.23804 6.79679 7.57108H6.79749Z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M6.70422 25.9519C6.58077 25.9515 6.46249 25.9011 6.37526 25.8118C6.28803 25.7224 6.23896 25.6014 6.23877 25.4751V19.666C6.23877 19.5398 6.28781 19.4187 6.3751 19.3294C6.46239 19.2401 6.58078 19.1899 6.70422 19.1899C6.82767 19.1899 6.94606 19.2401 7.03335 19.3294C7.12064 19.4187 7.16968 19.5398 7.16968 19.666V25.4751C7.17349 25.5387 7.16407 25.6023 7.14203 25.6619C7.12 25.7215 7.08585 25.7756 7.04186 25.8206C6.99786 25.8657 6.94502 25.9007 6.88682 25.9233C6.82861 25.946 6.76638 25.9557 6.70422 25.9519V25.9519Z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M12.6635 27.0945C12.5401 27.0941 12.4219 27.0438 12.3347 26.9546C12.2475 26.8654 12.1984 26.7446 12.198 26.6184V22.7173C12.198 22.591 12.247 22.4699 12.3343 22.3807C12.4216 22.2914 12.54 22.2412 12.6635 22.2412C12.7869 22.2412 12.9053 22.2914 12.9926 22.3807C13.0799 22.4699 13.1289 22.591 13.1289 22.7173V26.6184C13.1285 26.7446 13.0794 26.8654 12.9922 26.9546C12.905 27.0438 12.7868 27.0941 12.6635 27.0945V27.0945Z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M24.535 26.9041C24.4117 26.9037 24.2935 26.8534 24.2063 26.7642C24.1191 26.675 24.07 26.5541 24.0696 26.428V22.5269C24.0696 22.4006 24.1186 22.2795 24.2059 22.1902C24.2932 22.1009 24.4116 22.0508 24.535 22.0508C24.6585 22.0508 24.7769 22.1009 24.8642 22.1902C24.9515 22.2795 25.0005 22.4006 25.0005 22.5269V26.428C25.0001 26.5541 24.951 26.675 24.8638 26.7642C24.7765 26.8534 24.6584 26.9037 24.535 26.9041V26.9041Z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M18.5758 27.19C18.4525 27.1896 18.3343 27.1394 18.2471 27.0502C18.1599 26.9609 18.1107 26.8401 18.1104 26.7139V20.8565C18.1104 20.7302 18.1594 20.6091 18.2467 20.5198C18.334 20.4305 18.4524 20.3804 18.5758 20.3804C18.6993 20.3804 18.8176 20.4305 18.9049 20.5198C18.9922 20.6091 19.0413 20.7302 19.0413 20.8565V26.6655C19.046 26.7316 19.0375 26.7979 19.0164 26.8606C18.9953 26.9232 18.9619 26.9807 18.9184 27.0298C18.8749 27.0788 18.8221 27.1183 18.7632 27.1459C18.7043 27.1734 18.6405 27.1884 18.5758 27.19Z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M30.4941 26.3332C30.432 26.337 30.3697 26.3273 30.3115 26.3047C30.2533 26.2821 30.2005 26.2471 30.1565 26.202C30.1125 26.1569 30.0783 26.1028 30.0563 26.0432C30.0343 25.9837 30.0248 25.92 30.0287 25.8564V20.0474C30.0287 19.9211 30.0777 19.8 30.165 19.7107C30.2523 19.6214 30.3707 19.5713 30.4941 19.5713C30.6176 19.5713 30.7359 19.6214 30.8232 19.7107C30.9105 19.8 30.9596 19.9211 30.9596 20.0474V25.8564C30.9515 25.9801 30.8999 26.0965 30.8143 26.1841C30.7287 26.2718 30.6149 26.3248 30.4941 26.3332V26.3332Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 7px;
}
.productDetail__contentLeft__btn--connect {
  color: rgb(51, 51, 51);
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  letter-spacing: 2px;
  background: #000;
}
.productDetail__contentLeft__btn--connect:hover {
  color: rgb(134, 134, 134);
}
.productDetail__contentLeft__label {
  border: 1px solid rgb(167, 167, 167);
  color: rgb(33, 33, 33);
  padding: 14px 20px;
  cursor: pointer;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.productDetail__contentLeft__radio:checked ~ .productDetail__contentLeft__label {
  border-color: rgb(0, 0, 0);
}
.productDetail__contentLeft__title {
  font-family: "Montserrat Regular", sans-serif;
  line-height: 1.2;
  color: rgb(33, 33, 33);
}
.productDetail__contentLeft__price {
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
.productDetail__contentLeft__price:nth-child(n+2) {
  margin-left: 10px;
}
.productDetail__contentLeft__price--new {
  color: rgb(33, 33, 33);
}
.productDetail__contentLeft__price--old {
  color: rgb(100, 100, 100);
}
@media (min-width: 960px) {
  .productDetail__widthLeft {
    width: 480px;
  }
}

/*# sourceMappingURL=style.css.map */
