.home{
  &__title{
    font-family: $font-Montserrat-Regular;
    @extend .fz-32;
    color: rgb(33,33,33);
    line-height: (38/32);
  }
  &__product{
    &__card{
      border: 1px solid #ffffff;
      background-color: #b6b6b6;
      &__body{
        padding: 7px;
        padding-bottom: 40px;
      }
      &__quickadd{
        padding: 15px 15px;
        color: rgb(33,33,33) !important;
        text-transform: uppercase;
        @extend .fz-11;
        letter-spacing: 1.32px;
        font-family: $font-AvenirNextLTPro-Regular;
      }
      &__title{
        color: rgb(0, 0, 0);
        @extend .fz-22;
        line-height: (31/22);
        font-family: $font-AvenirNextLTPro-Regular;
        a{
          color: rgb(0, 0, 0) !important;
        }
      }
      &__price{
        line-height: (19.6/14);
        @extend .fz-14;
        font-family: $font-AvenirNextLTPro-Regular;
        &:nth-child(n+2){
          margin-left: 5px;
        }
        &--new{
          color: rgb(0, 0, 0);
        }
        &--old{
          color: rgb(100, 100, 100);
        }
      }
    }
    &__title{
      @extend .fz-38;
      font-family: $font-Montserrat-Regular;
      line-height: (45/38);
      color: rgb(33,33,33);
      word-break: break-word;
    }
    &__navTabs{
      >li{
        >a{
          padding: 0 !important;
          color: rgb(100, 100, 100) !important;
          @extend .fz-16;
          text-transform: inherit !important;
          font-family: $font-AvenirNextLTPro-Regular;
          border-bottom: 3px solid transparent;
          &:hover{
            background-color: transparent !important;
          }
        }
        &.uk-active{
          >a{
            color: rgb(0, 0, 0) !important;
            background-color: transparent;
            border-color: rgb(191,191,191);
          }
        }
      }
    }
    $max:32;
    $min:20;
    &__item-#{$max}-#{$min}{
      &:nth-child(n+2){
        margin-top: #{$min}px;
        @include media-breakpoint-up('m'){
          margin-top: #{$max}px;
        }
      }
    }
  }
  &__blog{
    &__grid{
      &::-webkit-scrollbar{
        display: none;
      }
      flex-wrap: nowrap;
      @include media-breakpoint-up('m'){
        flex-wrap: wrap;
      }
    }
    &__width{
      min-width: 364px;
      @include media-breakpoint-up('m'){
        width: 100%;
      }
    }
    &__box{
      padding: 25px;
    }
    &__title{
      @extend .fz-26;
      line-height: (33/26);
      font-family: $font-Montserrat-Regular;
      margin: 0;
      a{
        color: rgb(33,33,33);
        &:hover{
          color: rgb(167,167,167) !important;
        }
      }
    }
    &__desc{
      @extend .fz-14;
      font-family: $font-AvenirNextLTPro-Regular;
      color: rgb(33,33,33);
    }
  }
  &__slideshow{
    &__txt{
      @extend .fz-16;
      font-family: $font-AvenirNextLTPro-Medium;
      color: #ffffff;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin: 0;
    }
    &__title{
      color: #ffffff;
      @extend .fz-90;
      margin: 0;
      font-family: $font-Montserrat-Regular;
      @include media-breakpoint-down('xs'){
        font-size: 44px !important;
      }
    }
    &__btn{
      background: #000 !important;
      @include media-breakpoint-up('m'){
        min-width: 260px;
      }
      line-height: 48px;
      letter-spacing: 1.44px;
      color: #ffffff !important;
      @extend .fz-12;
      &:hover{
        color: #868686 !important;
      }
    }
    $max:60;
    $min:35;
    &__item-#{$max}-#{$min}{
      &:nth-child(n+2){
        margin-top: #{$min}px;
        @include media-breakpoint-up('m'){
          margin-top: #{$max}px;
        }
      }
    }
  }
}