/**
 * --------------------------------------------------------------------
 * Avenir Next
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Avenir Next LT Pro Regular';
  font-display: swap;
  src:local('Avenir Next LT Pro Regular'), url('fonts/Avenir_Next_Pro_Full/AvenirNextLTPro-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Avenir Next LT Pro Medium';
  font-display: swap;
  src:local('Avenir Next LT Pro Medium'), url('fonts/Avenir_Next_Pro_Full/AvenirNextLTPro-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Avenir Next LT Pro Bold';
  font-display: swap;
  src:local('Avenir Next LT Pro Bold'), url('fonts/Avenir_Next_Pro_Full/AvenirNextLTPro-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Montserrat
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Montserrat SemiBold';
  font-display: swap;
  src:local('Montserrat SemiBold'), url('fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat Medium';
  font-display: swap;
  src:local('Montserrat Medium'), url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat Bold';
  font-display: swap;
  src:local('Montserrat Bold'), url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat Regular';
  font-display: swap;
  src:local('Montserrat Regular'), url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Arial Regular';
  font-display: swap;
  src:local('Arial Regular'), url('fonts/Arial/arial.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Verdana Regular';
  font-display: swap;
  src:local('Verdana Regular'), url('fonts/Fonts/Verdana.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Verdana Bold';
  font-display: swap;
  src:local('Verdana Bold'), url('fonts/Fonts/Verdana-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Roboto Regular';
  font-display: swap;
  src:local('Roboto Regular'), url('fonts/Fonts/Roboto-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Black';
  font-display: swap;
  src:local('Roboto Black'), url('fonts/Fonts/Roboto-Black.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Bold Italic';
  font-display: swap;
  src:local('Roboto Bold Italic'), url('fonts/Fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Bold';
  font-display: swap;
  src:local('Roboto Bold'), url('fonts/Fonts/Roboto-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Medium';
  font-display: swap;
  src:local('Roboto Medium'), url('fonts/Fonts/Roboto-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Light Italic';
  font-display: swap;
  src:local('Roboto Light Italic'), url('fonts/Fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}